.navbar {
  display: flex;

  justify-content: space-around;

  background-color: green;

  padding: 20px;
}

.navbar a {
  color: white;

  text-decoration: none;

  padding: 10px 15px;

  transition: 0.3s;
}

.navbar a:hover {
  background-color: greenyellow;

  color: white;
}

main {
  padding: 40px 20px;
}

.perfil-doctor {
  background-color: white;

  padding: 40px;

  box-shadow: 0 5px 15px green;

  margin-bottom: 50px;
}

h1 {
  color: green;
}

h2 {
  color: greenyellow;
}

.boton-cita {
  background-color: green;

  color: white;

  padding: 13px 25px;

  transition: 0.3s;
}

.boton-cita:hover {
  background-color: green;

  transform: translateY(-2px);
}

.comentarios {
  text-align: center;
}

.contenedor-tarjetas {
  display: flex;

  justify-content: space-between;

  gap: 25px;

  flex-wrap: wrap;
}

.tarjeta {
  flex: 1;

  min-width: 250px;

  background-color: white;

  padding: 30px;

  margin: 10px;

  border: 1px solid #d7e3ed;

  box-shadow: 0 4px 10px green;

  transition: 0.3s;
}

.tarjeta:hover {
  transform: translateY(-6px);

  box-shadow: 0 8px 20px green;
}

.tarjeta h3 {
  color: green;

  font-size: 20px;
}

.fecha {
  color: grey;

  font-size: 13px;
}

footer {
  background-color: green;

  color: white;

  text-align: center;

  padding: 25px;
}

footer p {
  margin: 5px;
}
